@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Playfair Display', sans-serif;
}

@media (max-width: 960px) {
  html {
    font-size: 12px;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.MuiGrid-container {
  width: 100% !important;
  margin: 0 !important;
}

@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

#categoryComboBox{
  background-color: transparent;
}
/*------------------------------------------------------------------
== Section Component
------------------------------------------------------------------*/

.sectionWrapper {
  padding: 6em;
}

/*------------------------------------------------------------------
== Article Component
------------------------------------------------------------------*/

.articleTextWrapperLeft {
  padding-right: 2em;
  color: #000067;
  font-size: 16px;
  line-height: 21px;
  font-family: Heebo, sans-serif;
  font-weight: lighter;
}

.articleTextWrapperRight {
  padding-left: 2em;
  color: #000067;
  font-size: 16px;
  line-height: 21px;
  font-family: Heebo, sans-serif;
  font-weight: lighter;
}

.articleTextWrapperTitle {
  padding-bottom: 1em;
  font-size: 20px;
  font-weight: bold;
}

/*------------------------------------------------------------------
== Contact page
------------------------------------------------------------------*/

.contactMoreInfo {
  padding-left: 10em;
  padding-right: 10em;
  color: #000067;
  font-size: 16px;
  line-height: 21px;
  font-family: Heebo, sans-serif;
  font-weight: lighter;
  text-align: center;
}

.contactTextField {
  height: 69px;
  border-radius: 52px;
  width: 100%;
  background-color: #F0F0F0;
  border: none;
  padding-left: 52px;
  padding-right: 52px;
  margin-bottom: 2em;
  font-family: Heebo,sans-serif;
  font-size: 16px;
  color: #000067;
}

.contactTextArea {  
  height: 69px;
  border-radius: 52px;
  width: 100%;
  background-color: #F0F0F0;
  border: none;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 52px;
  padding-right: 52px;
  height: 346px;
  max-height: 346px;
  font-family: Heebo,sans-serif;
  font-size: 16px;
  color: #000067;
  margin-bottom: 6em;
  overflow: hidden;
  resize: none;
}

.contactForm {
  text-align: center;
}

.contactSendButton {
  height: 64px;
  border-radius: 48px;
  font-family: Heebo,sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 260px;
  background-color: #000067;
  border: none;
  margin: auto;
}

.contactSendButton:hover {
  background-color: #131364;
  cursor: pointer;
}

/*------------------------------------------------------------------
== Header
------------------------------------------------------------------*/

#header {
  /*background-image: url(../src/images/background_header_homepage.jpg);*/
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.headerTitle {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  text-align: center;
  text-shadow: 0px 0px 5px black;
  line-height: 55px;
  font-family: Nunito, sans-serif;
  font-size: 40px;
}

.headerNavLink {
  text-decoration: none;
  font-size: 20px;
  font-family: Nunito, sans-serif;
  font-weight: bold;
  color: white;
}

.headerNavLink:hover {
  text-decoration: underline;
}

.headerTopRightElement {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 0.75em;
}

.headerTitleContainer {
  position: relative;
  height: 100%;
  margin-top: 5em;
}

/*------------------------------------------------------------------
== Footer
------------------------------------------------------------------*/

#footer {
  /*background-image: url(../src/images/background_footer.jpg);*/
  background-color: #000067;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 496px;
  background-size: cover;
  background-position: center;  
  background-attachment: fixed;
}

.footerTitle {
  color: white;
  margin-top: 1.5rem;
  font-size: 25px;
  font-weight: bold;
  font-family: Nunito, sans-serif;
}

.footerCopyrights {
  color: white;
  font-size: 15px;
  font-family: Nunito, sans-serif;
}

.footerLogosContainer {
  display: flex;
}

.footerLogoContainer {
  min-width: 15em;
  min-height: 10em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footerLogoLink {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  font-family: Nunito, sans-serif;
  transform: "scale(1)";
  transition: "transform 500ms";  
}

.footerLogoLink:hover {
    transform: scale(1.25)
}

.footerLogo {
  max-width: 2em;
}
