@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Playfair Display', sans-serif;
}

@media (max-width: 960px) {
  html {
    font-size: 12px;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.MuiGrid-container {
  width: 100% !important;
  margin: 0 !important;
}

@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

#categoryComboBox{
  background-color: transparent;
}

#header {
  background-image: url(../src/images/background_header_homepage.jpg);
}

#footer {
  background-image: url(../src/images/background_footer.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;  
  background-attachment: fixed;
}

.footerTitle {
  color: white;
  margin-top: 1.5rem;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: Heebo, sans-serif;
}

.footerLogosContainer {
  display: flex;
}

.footerLogoContainer {
  padding: 5em;
}

.footerLogoLink {
  display: block;
  transform: "scale(1)";
  transition: "transform 500ms";  
}

.footerLogoLink:hover {
    transform: scale(1.25)
}

.footerLogo {
  max-width: 2em;
}
