@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;800&family=Nunito+Sans:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;900&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.MuiGrid-container {
  width: 100% !important;
}

/*------------------------------------------------------------------
== Section Component
------------------------------------------------------------------*/

.sectionWrapper {
  padding: 5em;
}

/*------------------------------------------------------------------
== Article Component
------------------------------------------------------------------*/

.articleTextWrapperLeft {
  padding-right: 2em;
  color: #000067;
  font-size: 16px;
  line-height: 21px;
  font-family: Heebo, sans-serif;
  font-weight: 300;
}

.articleTextWrapperRight {
  padding-left: 2em;
  color: #000067;
  font-size: 16px;
  line-height: 21px;
  font-family: Heebo, sans-serif;
  font-weight: 300;
}

.articleTextWrapperTitle {
  padding-bottom: 1em;
  font-size: 20px;
  font-family: Heebo, sans-serif;
  font-weight: 900;
}

.articleLeft.articleAnimationLeft, .articleRight.articleAnimationRight {
  opacity: 1;
  transform: none;
}

.articleRight {
  opacity: 0;
  transform: translateX(90%);
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, transform;
}

.articleLeft {
  opacity: 0;
  transform: translateX(-90%);
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, transform;
}

/*------------------------------------------------------------------
== Contact page
------------------------------------------------------------------*/

.contactMoreInfo {
  color: #000067;
  font-size: 16px;
  line-height: 21px;
  font-family: Heebo, sans-serif;
  font-weight: 300;
  text-align: center;
  width: 70%;
  margin: auto;
}

.contactTextField {
  height: 69px;
  border-radius: 52px;
  width: 100%;
  background-color: #F0F0F0;
  border: none;
  padding-left: 52px;
  padding-right: 52px;
  margin-bottom: 2em;
  font-family: Heebo,sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000067;
}

.contactTextArea {  
  height: 69px;
  border-radius: 52px;
  width: 100%;
  background-color: #F0F0F0;
  border: none;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 52px;
  padding-right: 52px;
  height: 346px;
  max-height: 346px;
  font-family: Heebo,sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000067;
  margin-bottom: 6em;
  overflow: hidden;
  resize: none;
}

.contactForm {
  text-align: center;
}

.contactSendButton {
  height: 64px;
  border-radius: 48px;
  font-family: Heebo,sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: white;
  width: 260px;
  background-color: #000067;
  border: none;
  margin: auto;
  transform: scale(1);
  transition: transform 500ms;  
}

.contactSendButton:hover {
  transform: scale(1.25);
}

.contactSendButton:hover {
  background-color: #131364;
  cursor: pointer;
}

.contactAlert {
  margin-top: 2em;
}

/*------------------------------------------------------------------
== Header
------------------------------------------------------------------*/

#header {
  position: relative;
  height: 100vh;
}

.headerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;
  text-align: center;
  text-shadow: 0px 0px 5px black;
  line-height: 55px;
  font-family: Nunito, sans-serif;
  font-size: 40px;
}

.headerNavLink {
  text-decoration: none;
  font-size: 20px;
  font-family: Nunito, sans-serif;
  font-weight: 900;
  color: white;
  cursor: pointer;
  position: relative;
  margin-left: 5em;
}

.headerNavLink:after {
  border-top: .15em solid white;
  content: "";
  position: absolute;
  right: 100%;
  bottom: -5px;
  left: 0;
  transition: right .4s;
}

.headerNavLink:hover:after {
  right: 0;
}

.headerTopRightElement {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 0.75em;
}

.headerTitleContainer {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;

}

.headerNavLinkSeparator {
  text-decoration: none;
  font-size: 24px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Nunito, sans-serif;
  font-weight: 900;
  color: white;
}

.headerNavLinkActive:after {
  border-top: .15em solid white;
  content: "";
  position: absolute;
  right: 100%;
  bottom: -5px;
  right: 0;
}

.headerNavContainer {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.headerLeftLinksContainer {
  width: 20%;
}

.menuHamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 60px;
  z-index: 1;
}

.menuHamburger > div {
  background-color: white;
  height: 3px;
  width: 40px;
}

.mobileNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  top: 5%;
}

.mobileNavCloseButton {
  fill: white;
  width: 60px;
}

.mobileNavTop {
  display: flex;
  justify-content: space-between;
  top: 10%;
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  width: 100%;
}

.mobileNav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000067;
  top: 0;
  left: 0;
  transform: translateX(100%);
}

.mobileNavVisible {
  transform: translateX(0%);
  transition-duration: 500ms;
}

.mobileNavLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  position: absolute;
  top: 40%;
  width: 100%;
}

/*------------------------------------------------------------------
== Footer
------------------------------------------------------------------*/

#footer {
  background-color: #000067;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 496px;
  background-size: cover;
  background-position: center;  
  background-attachment: fixed;
}

.footerTitle {
  color: white;
  margin-top: 1.5rem;
  font-size: 25px;
  font-weight: 900;
  font-family: Nunito, sans-serif;
}

.footerCopyrights {
  color: white;
  font-size: 15px;
  font-family: Nunito, sans-serif;
  font-weight: 300;
}

.footerLogosContainer {
  display: flex;
}

.footerLogoContainer {
  min-width: 15em;
  min-height: 10em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footerLogoLink {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  font-family: Nunito, sans-serif;
  transform: "scale(1)";
  transition: "transform 500ms";  
}

.footerLogoLink:hover {
    transform: scale(1.25)
}

.footerLogo {
  max-width: 2em;
}


/*------------------------------------------------------------------------------
== For Smart phone
-------------------------------------------------------------------------------*/

@media (max-width: 600px) {

  .headerTitle {
    font-size: 20px;
    line-height: 30px;
    width: 75%;
  }

  .headerTitleContainer {
    background-size: 100% 100vh;
    background-position: top;
  }

  .headerLeftLinksContainer {
    width: 40%;
    z-index: 1;
  }

  .headerNavLink {
    font-size: 18px;
    margin-left: 0;
  }

  .mobileNavCloseButton {
    width: 30px;
  }

  .footerTitle {
    font-size: 18px;
    line-height: 22px;
    width: 200px;
    text-align: center;
  }

  .footerLogoContainer {
    min-width: 6em;
    min-height: 7em;
  }

  .footerLogoLink {
    font-size: 10px;
  }

  .footerCopyrights {
    font-size: 10px;
  }

  #footer {
    height: 235px;
  }
  
  .articleTextWrapperRight, .articleTextWrapperLeft {
    padding-left: 1em;
    padding-right: 2em;
    font-size: 12px;
    line-height: 17px;
    font-family: Heebo, sans-serif;
    font-weight: 300;
  }
  
  .articleTextWrapperTitle {
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 14px;
    font-weight: 800;
  }

  .sectionWrapper {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .contactMoreInfo {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
  }

  .contactTextArea {
    margin-bottom: 3em;
    font-size: 12px;
    border-radius: 34px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 34px;
    padding-right: 34px;
  }

  .contactTextField {
    font-size: 12px;
    height: 43px;
    border-radius: 34px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

/*------------------------------------------------------------------------------
== For Tablet
-------------------------------------------------------------------------------*/

@media (max-width: 1366px) and (min-width: 601px) {

  .headerTitle {
    font-size: 30px;
    line-height: 45px;
    width: 80%;
  }

  .headerTitleContainer {
    background-size: 100% 100vh;
    background-position: top;
  }

  .headerLeftLinksContainer {
    width: 30%;
    z-index: 1;
  }

  .headerNavLink {
    font-size: 30px;
    margin-left: 0;
  }

  .mobileNavCloseButton {
    width: 40px;
  }

  .footerTitle {
    font-size: 22px;
    text-align: center;
  }

  .footerLogoContainer {
    min-width: 6em;
    min-height: 7em;
  }

  .footerLogoLink {
    font-size: 14px;
  }

  .footerCopyrights {
    font-size: 12px;
  }

  #footer {
    height: 380px;
  }
  
  .articleTextWrapperRight, .articleTextWrapperLeft {
    font-size: 12px;
    line-height: 17px;
  }
  
  .articleTextWrapperTitle {
    font-size: 14px;
    font-weight: 800;
  }

  .sectionWrapper {
    padding: 3em;
  }

  .contactMoreInfo {
    width: 70%;
    font-size: 12px;
    line-height: 17px;
  }

  .contactTextArea {
    margin-bottom: 3em;
    font-size: 14px;
    border-radius: 34px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 34px;
    padding-right: 34px;
  }

  .contactTextField {
    font-size: 14px;
    height: 43px;
    border-radius: 34px;
    padding-left: 34px;
    padding-right: 34px;
  }

}